@tailwind base;
@tailwind components;
@tailwind utilities;

.button-group {
    display: flex !important;
    align-items: center !important;
    gap: 5px !important;
}

.table td, .table th {
    vertical-align: middle !important;
    padding: 10px !important;
}
